<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Realtime Chatting</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
  <nav class="flex justify-between py-4 bg-blue-400">
    <h2 class="text-xl font-bold ml-5">Realtime Chat</h2>
    <h2 class="text-xl font-bold">About Us</h2>
    <h2 class="text-xl font-bold mr-5">Contact Us</h2>
  </nav>
  <main class="flex flex-col min-h-screen justify-center items-center">
    <h1 class="text-5xl font-bold">Hello, World!</h1>
  </main>
  <footer class="flex justify-between py-4 bg-blue-400">
    <a href="idk where yet" class="font-bold">@Realtime Chat</a>
  </footer>
</body>

</html>
